/*////////////////////////////////////////////////////////*/
/*////////////////////// Font included ///////////////////*/
/*////////////////////////////////////////////////////////*/
/*========================= 1. Font Base =================*/
body {
  font-family: "Open Sans", sans-serif;
}
/*==========================2. Font Subtitle =============*/
blockquote {
  font-family: 'Lora', serif;
}
/*==========================3. Font Title ================*/
h1, h2, h3, h4, h5, h6,
[data-tooltip]:before,
.wil-404-bg p,
#signup-signin-wrapper .account__switch a,
.account-nav ul li a,
.profile-title ~ .input-toggle,
.profile-avatar__change a,
.profile-hour thead th,
.profile-hour .business-start:before, .profile-hour .business-end:before, .profile-hour .business-close:before, .profile-hour .business-day:before,
.f-direction-item strong,
.f-listings-item__address,
.f-listings-item__meta,
.form-add-listing .input-toggle,
.add-listing__style-label,
.add-listing__upload-placeholder-title,
.add-listing-group #poststuff .field_type-image .no-image .button,
.add-listing-group #poststuff .field_type-file .no-file .button,
.wil-alert-message a,
.listgo-btn,
.comment__date,
.comment__reaction,
.comments__showmore,
#tab-review .commentlist .comment__by,
.wil-card-nubmer,
.wil-card-title,
.wil-card-total-number,
.nav-filter-dashbroad a,
.wil-dashbroad__bar-add-listing,
.wil-dashbroad__bar-menu .wil-dashbroad__bar-menu-toggle,
.wil-dashbroad__bar-menu ul li a,
.wil-dashbroad__toolbar a p,
.wil-dashbroad__static-number,
.wil-dashbroad__static-label,
.wil-dashbroad__static-week,
.event-item__meta > span,
.listing-event__status,
.listing-event__label,
.listing-event__table th, .listing-event__table td,
.listing-event__table td:before,
form input[type="submit"],
.comment-form label,
.comment-form .comment__rate-placeholder,
.tab--form .tab__nav li a,
.label,
.ui-widget.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper,
.from-wide-listing__header-title,
.from-wide-listing__header-close,
.from-wide-listing__footer,
.header-page__breadcrumb-filter,
.wo_breadcrumb li,
.banner__description,
.header-page__category-title,
.categories-box__header,
.nav-filter a,
.listing__result-filter label,
.listing__result-right,
.onads, .onclose, .onopen, .closesin, .onopensin, .nextopen,
.listing__cat,
.item__actions,
.listing--grid3 .listgo__rating .rating__number,
.listing--grid4 .listgo__rating .rating__number,
.listing__claim,
.listing-event__info th, .listing-event__info td,
.listing-single__event-actions a,
.review-rating .review-rating__label-title,
.listing-single-bar .tab__nav li,
.listing-single__event-create,
.listgo-map__field .listgo-map__apply,
.widget_author__avatar-placeholder,
.notifications__more a,
.nav-links a, .nav-links span,
.pagination_post a,
.post__media .post__date,
.post__meta > span,
.post__more,
.post__tags span,
.pricing__price,
.woocommerce a.button, .woocommerce input#submit, .woocommerce button.button, .woocommerce input.button, .woocommerce .button,
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce div.products p.price, .woocommerce div.products span.price,
.woocommerce div.product .product_meta > span a,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author,
.woocommerce #review_form #respond .comment-reply-title,
.woocommerce table.shop_table th,
.woocommerce table.shop_table label,
.woocommerce table.shop_table .amount,
.woocommerce table.shop_table td.product-name,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a,
.tab .tab__nav li,
.tab.tab--1 .tab__nav li,
.tab--2 .tab__nav li,
.copyright,
.header__content .wil-menu-list li > a,
.header__content .wiloke-menu:not(.wiloke-menu-responsive) .wiloke-menu-list > .wiloke-menu-item > a,
.header__content .wiloke-menu.wiloke-menu-responsive .wiloke-menu-list .wiloke-menu-item > a,
.notifications__icon .count,
.user__menu__item,
.header-mobile .wil-menu-list li,
.wiloke-menu-sub-mega .widget_nav_menu ul li a,
.vc_row [class*="vc_btn"],
.widget_author .account-subscribe span.followers .count, .widget_author .account-subscribe span.following .count,
.widget_author__follow,
.widget_author__link a,
.widget_author-calendar ul .day,
.widget_calendar table caption,
.woocommerce .widget_products li .product-title,
.woocommerce .widget_top_rated_products li .product-title,
.woocommerce .widget_recent_reviews li .product-title,
.woocommerce .product_list_widget li .product-title,
.woocommerce .widget_shopping_cart .cart_list .mini_cart_item a,
.woocommerce .widget_shopping_cart .total strong,
.woocommerce .widget_recent_reviews .product_list_widget li a,
.widget_recent_entries li a,
.widget_recent_comments li a,
.widget_rss li a,
.pi_subscribe .pi-subscribe {
  font-family: "Poppins", sans-serif;
}